<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="/css/discoverUser.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
  </head>


  <header>
    <div class="nav-shadow">
      <div class="mcontainer">
        <nav class="top-nav">
            <div class="left-nav">
              <img src="https://tutopoint-img-bucket.s3-us-west-2.amazonaws.com/tutologo.png" alt="logo" class="logo">
              <h2>TUTOPOINT</h2>
            </div>

            <div class="select is-rounded language">
              <select>
                <option>English</option>
                <option>Chinese</option>
              </select>
            </div>

            <ul class="right-nav">
              <li><a>Dashboard</a></li>
              <li><a>Log Out</a></li>
            </ul>
        </nav>
      </div>
    </div>
  </header>

  
    <body>
      <div class="mcontainer">
        <div class="columns">


          <div class="column is-two-thirds">
            <div class="columns guideinfo">
              <div class="column" class="guide-pictures">
                <img src="/images/nani.jpg" class="profile-pic"> <br>
                <img src="/images/berkeley.jpg" class="college-pic">
              </div>
              <div class="column is-four-fifths" class="guide-text">
                  <ul class="stats">
                    <li class="bold">Ziz Cheng</li>
                    <li class="bold">UC Berkeley</li>
                    <li class="light">Computer Science</li>
                    <li class="light">Freshman</li>
                  </ul>
                  <p class="bio-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et tellus sagittis, imperdiet nisi elementum, ornare enim. Praesent nec nulla nulla. Vestibulum fringilla consequat
                  </p>
              </div>
            </div>

              <div class="filter-bar">
                <div class="filter-left">
                  <a href="#">Clear Filters</a>
                  <div class="select is-rounded language">
                    <select>
                      <option>Today</option>
                      <option>Tomorrow</option>
                    </select>
                  </div>
                
                      <input class="input" type="text" placeholder="Start Date">
                  
          
                      <input class="input" type="text" placeholder="End Date">
                    
            
                  
                </div>

                <div class="filter-right">
                    <a href="#">Refresh Times</a>
                </div>
              </div>
              <div class="cards">
                <!-- repeat this thing -->
                <div class="timeslot-card"><h1>Friday 2/21 <br>4:00 PM</h1></div>
                <div class="timeslot-card"> </div>
                <div class="timeslot-card"> </div>
                <div class="timeslot-card"> </div>
                <div class="timeslot-card"> </div>
                <div class="timeslot-card"> </div>
              

              </div>



          </div>
          
          <div class="column reviews">
            <!--
            <h1 class="totalrating">Rating x/5</h1>
            <div class="review-card">
              <p class="rating-name">name, x/5</p> <br>
              <p class="review-text">??????????????????/</p>
            </div>
            -->
          </div>
        </div>
      </div>
      
    </body>
</div>
</html>


<!--
  <h1> {{guide.name}} </h1>
    <h1> {{guide.university}} </h1>
    <h1> {{guide.major}} </h1>
    <h1> {{guide.grade}} </h1> 
    
    <script>
      $(".schedule-button").click(function(){
        var date = $(".session-time-picker").val();
        $.post("/session/request", {guideId: guideId, date: date});
      });
    </script>
    
    <script>
      var guideId = "{{guide._id}}";
    </script>
    -->
    