<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>
    <h1> {{guide.name}} </h1>
    <h1> {{guide.university}} </h1>
    <h1> {{guide.major}} </h1>
    <h1> {{guide.grade}} </h1>
    <input class="session-time-picker" type="datetime-local">
    <button class="schedule-button button is-primary">Schedule Session</button>
    <script>
      var guideId = "{{guide._id}}";
    </script>
    <script>
      $(".schedule-button").click(function(){
        var date = $(".session-time-picker").val();
        $.post("/session/request", {guideId: guideId, date: date});
      });
    </script>
  </body>
</html>
