<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/bulma.css">
  <link rel="stylesheet" href="/css/discoverUser.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="nav-content">

    <div class="side-nav">
      <aside class="menu">
        <p class="menu-label">General</p>
        <ul class="menu-list">
          <li><a class="menu-link" data-page="upcoming-sessions">Upcoming sessions</a></li>
          <li><a class="menu-link" data-page="my-documents">My documents</a></li>
          <li><a href="/discover">Discover</a></li>
        </ul>
        <p class="menu-label">Account</p>
        <ul class="menu-list">
          <li><a class="menu-link" data-page="balance" href="/pay">Balance: ${{customerBalance}}</a></li>
          <li><a href="/logout">Log out</a></li>
        </ul>
        <div></div>
      </aside>
    </div>
    <div class="mcontainer">
      <div class="main-content">
        <div class="columns">
          <div class="column">
            <div class="columns guideinfo">
              <div class="column" class="guide-pictures">
                <img src="{{guide.profilePic}}" class="profile-pic"> <br>
                <img src="{{guide.logo}}" class="college-pic">
              </div>
              <div class="column is-two-thirds" class="guide-text">
                <ul class="stats">
                  <li class="bold">{{guide.name}}</li>
                  <li class="bold">{{guide.university}}</li>
                  <li class="light">{{guide.major}}</li>
                  <li class="light">{{guide.grade}}</li>
                </ul>
                <p class="bio-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et tellus sagittis, imperdiet nisi
                  elementum, ornare enim. Praesent nec nulla nulla. Vestibulum fringilla consequat{{guide.bio}}
                </p>
              </div>
            </div>




          </div>



          <div class="column reviews">
            <div class="total-rating-bar">
              <h2>Reviews (98)</h1>
                <img class="total-rating-icon" src="/images/icons/star_1.png">
            </div>
            <div class="reviews-box">
              <!-- repeat this thing for reviews -->
              <div class="review">
                <div class="review-title">
                  <h3>Lucas</h3>
                  <img src="/images/icons/star_0.png">
                </div>
                <div class="review-content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Fusce et tellus sagittis, imperdiet nisi elementum, ornare enim. Praesent nec nulla nulla.
                    Vestibulum fringilla consequat purus, et consequat elit tristique luctus.
                  </p>
                </div>
              </div>

              <div class="review">
                <div class="review-title">
                  <h3>Lucas</h3>
                  <img src="/images/icons/star_0.png">
                </div>
                <div class="review-content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Fusce et tellus sagittis, imperdiet nisi elementum, ornare enim. Praesent nec nulla nulla.
                    Vestibulum fringilla consequat purus, et consequat elit tristique luctus.
                  </p>
                </div>
              </div>

              <div class="review">
                <div class="review-title">
                  <h3>Lucas</h3>
                  <img src="/images/icons/star_0.png">
                </div>
                <div class="review-content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Fusce et tellus sagittis, imperdiet nisi elementum, ornare enim. Praesent nec nulla nulla.
                    Vestibulum fringilla consequat purus, et consequat elit tristique luctus.
                  </p>
                </div>
              </div>

              <div class="review">
                <div class="review-title">
                  <h3>Lucas</h3>
                  <img src="/images/icons/star_0.png">
                </div>
                <div class="review-content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Fusce et tellus sagittis, imperdiet nisi elementum, ornare enim. Praesent nec nulla nulla.
                    Vestibulum fringilla consequat purus, et consequat elit tristique luctus.
                  </p>
                </div>
              </div>

              <div class="review">
                <div class="review-title">
                  <h3>Lucas</h3>
                  <img src="/images/icons/star_0.png">
                </div>
                <div class="review-content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Fusce et tellus sagittis, imperdiet nisi elementum, ornare enim. Praesent nec nulla nulla.
                    Vestibulum fringilla consequat purus, et consequat elit tristique luctus.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
        <form id="requestSessionForm" action="/session/request" method="post">


        </form>
      </div>
      <div class="signup-menu">
        <div class="filter-bar">
          <div class="filter-left">
            <a href="#">Clear Filters</a>
            <div class="select is-rounded is-small language">
              <select>
                <option>Today</option>
                <option>Tomorrow</option>
              </select>
            </div>

            <input class="input is-small" type="text" placeholder="Start Date">
            <input class="input is-small" type="text" placeholder="End Date">

          </div>

          <div class="filter-right">
            <a href="#">Refresh Times</a>
          </div>
        </div>
        <div class="cards">
          <!-- repeat this thing -->
          {{#each schedule}}
          <div class="group">
            <div class="timeslot-card" start-date="{{this.[0]}}" end-date="{{this.[1]}}"> </div>

          </div>

          {{/each}}


        </div>
      </div>
    </div>
  </div>
  </div>
  <script>
    initializeTimeSlotCards();
    let currentSelectedDate = null;
    let guideId = "{{guide._id}}"


    function initializeTimeSlotCards() {
      const timeslotCards = document.getElementsByClassName('timeslot-card');
      for (let i = 0; i < timeslotCards.length; i++) {
        const timeslotCard = timeslotCards[i];
        const startDate = new Date(timeslotCard.getAttribute('start-date'));
        const endDate = new Date(timeslotCard.getAttribute('end-date'));

        const optionsFullDisplay = { weekday: 'long', month: 'numeric', day: 'numeric' };
        const localeDay = startDate.toLocaleDateString("en-us", optionsFullDisplay)

        const timeOptions = { hour: 'numeric', minute: 'numeric', hour12: true };
        const startDay = startDate.toLocaleTimeString('en-US', timeOptions)
        const endDay = endDate.toLocaleTimeString('en-US', timeOptions)

        const dataText = `<h1>${localeDay} <br>${startDay}</br></h1>`
        timeslotCard.setAttribute('data-text', dataText)
        timeslotCard.innerHTML = dataText

        timeslotCard.addEventListener('click', function () {
          if (timeslotCard.classList.contains("selected")) {
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('requestSessionForm');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'date');
            hiddenInput.setAttribute('value', timeslotCard.getAttribute('start-date'));

            var hiddenGuideInput = document.createElement('input');
            hiddenGuideInput.setAttribute('type', 'hidden');
            hiddenGuideInput.setAttribute('name', 'guideId');
            hiddenGuideInput.setAttribute('value', guideId);

            form.appendChild(hiddenGuideInput);
            form.appendChild(hiddenInput);

            // Submit the form
            form.submit();
          }
          else {
            scheduleConfirm(i)
          }

        })
      }


    }

    function scheduleConfirm(index) {
      let currentSelectedDate = index;
      const timeslotCards = document.getElementsByClassName('timeslot-card');
      for (let i = 0; i < timeslotCards.length; i++) {
        if (index == i) {
          timeslotCards[i].classList.add('selected')
          timeslotCards[i].textContent = "Confirm";
        }
        else {
          timeslotCards[i].classList.remove('selected')
          timeslotCards[i].innerHTML = timeslotCards[i].getAttribute('data-text')
        }
      }
    }
  </script>
</body>

</html>
