<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Guides</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/bulma-0.6.2.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link rel="stylesheet" href="/css/ourGuides.css">
  <link rel="stylesheet" href="/css/guideCard.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>

  {{> modals }}

  {{> navbar }}


  <section id="discoverSection">
      <div class="guides-container">
        {{#each guideChunks}}
          {{#each this}}
          <div class="profile column has-flex-0" data-name="{{this.name}}" data-college="{{this.university}}" data-major="{{this.major}}">
            <div class="card guide-card">
              <div class="card-image">
                <figure class="backdrop image is-2by1">
                  <img src="{{this.backdrop}}">
                </figure>
                <figure class="profile-picture-wrapper image is-128x128">
                  <img class="profile-picture is-rounded" style="border: solid 1px black" src="{{this.profilePic}}">
                </figure>
              </div>
              <div class="card-content guide-card-content">
                <p class="guide-name">{{this.name}}</p>
                <p class="guide-description">{{this.university}}, {{this.grade}} in {{this.major}}</p>
                <p class="guide-bio">{{this.bio}}</p>
              </div>
              <footer class="card-footer guide-card-footer">
                  <a href="/signup" class="card-footer-item">Schedule Now!</a>
              </footer>
            </div>
          </div>
          {{/each}}
        {{/each}}
    </div>
    </section>
    {{> footer }}


  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script type="text/javascript" src="/js/index.js"></script>

  <script type="text/javascript">
      searchType.addEventListener('change', function() {
        var ev = new Event('keyup');
        searchBar.dispatchEvent(ev);
      });
      searchBar.addEventListener('keyup', function(){
        const queryType = searchType.value.toLowerCase();
        const profiles = document.getElementsByClassName('profile')
        for(var i = 0; i < profiles.length; i++){
          let currentEl = profiles[i]
          const name = profiles[i].getAttribute(`data-${queryType}`).toLowerCase();
          if(!name.includes(searchBar.value.toLowerCase())){
            currentEl.classList.add('is-hidden')
          }
          else {
            currentEl.classList.remove('is-hidden')
          }
        }
      });

  </script>
</body>
</html>
